@model IEnumerable<Inocrea.CodaBox.ApiModel.ViewModel.TransactionsAccountViewModel>

@{
    Layout = "_Layout";
}

@section styles {
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css' />
}
<div class='row'>

    <div>
        <div>
            <p>
                <a asp-action="ExportTransactions">Export testaments to Excel</a>
            </p>
        </div>
        <div class='panel-body'>
            <table id='example' class='table table-striped  table-hover '>
                <thead>


                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdentificationNumber)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CurrencyCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Iban)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Bic)

                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.StructuredMessage)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ValueDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.TransactionDate)
                        </th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

</div>
@section scripts {
    <script type='text/javascript' src='https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js'></script>
    <script>

        $(document).ready(function () {
            var table = $('#example')
                .DataTable({
                    'processing': true,
                    'serverSide': true,

                    'ajax': {
                        'url': 'Transactions/TransactionsByStatements',
                        ' dataFilter': function (data) {
                            var json = jQuery.parseJSON(data);
                            json.recordsTotal = json.total;
                            json.recordsFiltered = json.total;
                            json.data = json.list;

                            return JSON.stringify(json); // return JSON string
                        },
                       
                        'type': 'POST'

                    },

                    'columns':
                        [
                            { data: 'IdentificationNumber', name: 'IdentificationNumber', 'sDefaultContent': '0-0-0000', 'autoWidth': true },
                            { data: 'CurrencyCode', name: 'CurrencyCode', 'sDefaultContent': '0-0-0000', 'autoWidth': true },
                            { data: 'Iban', name: 'Iban', 'sDefaultContent': '0-0-0000', 'autoWidth': true },
                            { data: 'Bic', name: 'Bic', 'sDefaultContent': '0-0-0000', 'autoWidth': true },

                            { data: 'Amount', name: 'Amount', 'sDefaultContent': '0', 'autoWidth': true },

                            { data: 'StructuredMessage', name: 'StructuredMessage', 'sDefaultContent': '0-0-0000', 'autoWidth': true },
                            { data: 'ValueDateFrmt', name: 'ValueDateFrmt', 'sDefaultContent': '0-0-0000', 'autoWidth': true },


                            { data: 'TransactionDateFrmt', name: 'TransactionDateFrmt', 'sDefaultContent': '0-0-0000', 'autoWidth': true }


                        ],

                    'ordering': true,
                    'paging': true,
                    'searching': true,
                    'pagingType': 'full_numbers',
                    'pageLength': 10



                });
           });

    </script>
}


